<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StartTime" value="13:55 PM" />
    <add key="callDuration" value="2" />
    <add key="CallType" value="1" />
    <add key="FromMail" value="sender_mail@gmail.com" />
    <add key="Password" value="mail_pass" />
    <add key="Host" value="smtp.gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="sender_mail@gmail.com">
        <network host="smtp.gmail.com" userName="sender_mail@gmail.com" password="mail_pass" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>